*{
    box-sizing: border-box;
}

body{
    background-color: cadetblue;
    /* color: rgba(255, 255, 255, 0.353); */
}
.canvas-container{
    width: 500px;
    height: 500px;
}







/*helpers*/
.hide{
    display: none;
}