@media (max-width: 1000px) {
    .nav-links-container {
        margin-inline-end: 5rem;

    }

    /* filter */
    .txt-input {
        width: 35vw;
    }

}





@media (max-width: 700px) {

    /* nav */
    .main-nav-container {
        margin: 0;
        margin-bottom: 10px;
    }

    .nav-links-container {
        display: none;

    }

    .hamburger-menu {
        display: block;
    }

    .logo {
        margin-inline-start: 2.0625rem;
    }

    /* filter */
    .txt-input {
        width: 90vw;
    }

    /* gallery */
    .main-gallery-content {
        margin-right: 0;


    }

    .gallery {
        width: 80vw;
        gap: 20px;

    }

    .gallery-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
    }

    /* editor */
    body {
        overflow: scroll;
    }

    .editor-container {
        grid-template-columns: 1fr;
        gap: 1.625rem;
        margin: 0;
        /* width: 100vw; */
    }

    .edit-item {
        /* width: 32.8125rem; */
        height: 546px;
        /* box-shadow: 1px 5px 0 #3d3d3d, inset 0 5px 0 #3d3d3d; */
        padding: 10px;
        border-radius: 30px;
        background-color: #3d3d3d74;
        width: 90vw;

    }

    canvas {
        width: 90vw;
    }

    .edits-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2px;
        justify-content: center;
    }

    .link-btn {
        margin-inline: 2rem;
        width: 100px;
    }

}